@import "tailwindcss";

@theme {
  --color-primary: #01BED2;
  --color-secondary: #16959B;
  --color-accent: #8AB63C;
  --color-dark: #20325E;
  --color-soft: #DDF4F6;
  --color-secondaryDark: #165E7D;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.33%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 28s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}